/*VARIAVEIS*/
:root {
    --color-primary: #f3f3f3;
    --color-secondary: #30b3aa;
    --black: black;
}

/*HEADER*/
.container__form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ou altura desejada */
}

/*ABA NOTICIAS*/  
.noticies__title {
    margin-top: 18px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticies__container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
}

/*CARROUSSEL ANIVERSARIANTES*/
.aniversariante__item {
    color: var(--black);
}

.aniversariante__title {
    color: var(--black);
}